router:
  build: router
  ports:
    - "80:80"
  links:
    - gitlab
    - jenkins
    - confluence
    - jira
dnsmasq:
  build: dnsmasq
  cap_add:
    - NET_ADMIN
  ports:
    - "53:53"
    - "53:53/udp"
jenkins:
  image: jenkins
  links:
    - gitlab
gitlab:
  build: gitlab
  dns: dnsmasq
  ports:
    - "2222:22"
  links:
    - dnsmasq
    - ldap
ldap:
  image: dinkel/openldap
  env_file: .env.ldap
  ports:
    - "389:389"
artifactory:
  image: jfrog-docker-registry.bintray.io/jfrog/artifactory-oss
jira:
  image: cptactionhank/atlassian-jira
confluence:
  image: cptactionhank/atlassian-confluence

# sudo docker run --detach \
#     --publish 8443:443 --publish 8080:80 --publish 2222:22 \
#     --name gitlab \
#     --restart always \
#     --volume /srv/gitlab/config:/etc/gitlab \
#     --volume /srv/gitlab/logs:/var/log/gitlab \
#     --volume /srv/gitlab/data:/var/opt/gitlab \
#     gitlab/gitlab-ce:latest
